input {
	padding:0.5rem;
	background-color:$white-smoke;
	border:1px solid silver;
    -webkit-appearance: none;
    border-radius: 0;
		margin:0.5em 0 1em 0;
}
#footer input {
	background-color:white;
}
