.info {
	border: 1px solid $white-smoke-darken;
	padding:1rem;
	padding-left:3rem;
	background-color:$white-smoke;
	position:relative;
	& > strong {
		display:inline-block;
		padding-bottom:0.5rem;
	}
	&:before {
		display:block;
		position:absolute;
		content:"";
		width:22px;
		height:22px;
		top:1rem;
		left:1rem;
		background-image: url('/img/icon_info.svg');
		background-size:100%;
	}
}

.warning {
	border: 1px solid $alert-color;
	padding:1rem;
	padding-left:3rem;
	background-color: $white-smoke;
	position:relative;
	
	&:before {
		display:block;
		position:absolute;
		content:"";
		width:22px;
		height:22px;
		top:1rem;
		left:1rem;
		background-image: url('/img/icon_warning.svg');
		background-size:100%;
	}
}