
.cart {
	& thead {
		text-align:left;
		text-transform: uppercase;
		font-size:0.9em;
		& .th-price {
			text-align:right;
		}
	}
	& table {
		border-collapse: collapse;		
	}
	& table, & th, & td {
		border:none;
	}
	& td, & th {
		padding:1rem 0;
		overflow:hidden;
	}
	& tbody {
		& tr {
			border-top: 1px solid silver;
			&.set-row {
				border-top:none;
				
				& .td-article,
				& .td-attr-1,
				& .td-attr-2 {
					border-top: 1px solid silver;
				}
				& td {
					padding:0.5rem 0;
				}
			}
			&.personalize-row {
				border-top:none;
				& td {
					margin:0;
					padding:0;					
				}
			}
		}		
	}

	select {
		width:60px;
	}
	& #article-list {
		width:100%;
		line-height:1.6em;
		& .td-article-img {
			padding-right:15px;
		}
		& .td-article {
			padding-right:15px;
		}
		& .product-title {
			font-size:1.2em;
		}
		& .td-price {
			text-align:right;
		}
	}
	& .wareworth {
		font-weight: bold;
		border-top:1px solid silver;
		
	}
	& .shipping {
		width:100%;	
		& .td-price {
			text-align:right;
			font-weight:bold;
		}
		& .added-prize {
			text-align:right;
			font-size:1.2em;
		}
	}
}

.directorder {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
    border-top:1px solid silver;
    border-bottom:1px solid silver;
    margin:1rem;
	    & div:first-child {
	    	padding-left:0;
	    }
	    & div:last-child {
	    	padding-right:0;
	    }
	    & input {
	    	width:100%;
	    }
	    & .btn {
	    	margin-left:0.5rem;
	    }
}




