
.advantages {
  background-color: $light-grey;
  & .advantage-list {
    text-align: center;
    font-size: 0.8em;
    & li {
      display:inline-block;
      margin:0 1em;
      padding:0.5em;
      & img {
        margin-top: -3px;
      }
    }
  }
}

#header-short {
  #callcenter {
    text-align: center;

      font-size: 1em;
  }
  .trusted {
    text-align: right;
  }
}
